@import 'assets/imports.styl'
@import 'css-assets/normalize.styl'

@import 'css-assets/general'
@import 'css-assets/blocks'
@import 'css-assets/layouts'
@import 'css-assets/effects'
@import 'css-assets/icons'

use('assets/nesting-tree-traversal.js')

.block
  &__element
    &--element-modifier
      &:hover
        {up(2)}
          hl green
    /* some element's styles */
  &--modifier
    {root()}
      hl orange
    .a
      & + {end()}
        hl green
    /* some modifier's styles */

.foo
  &__bar
    &:hover
      & + {up(1)}
        hl green

//! --------------------
.block
  &:hover
    .aaa
      {up(2)}__element2
        hl red

.block
  &__element
    &--element-modifier
      &:hover
        {up(2)}
          hl green

//! --------------------
a
  & + {end()}
    margin-left 20px

//! --------------------
el = '.block'
{el}
  &:hover
    .aaa
      {el}__element2
        hl red

//! --------------------
.block
  &:hover
    {end()}__element
      hl red
      test selector()
    &:active
      {up(2)}__element2
        hl green


        