@import 'assets/imports.styl'
@import 'css-assets/normalize.styl'

@import 'css-assets/general'
@import 'css-assets/blocks'
@import 'css-assets/layouts'
@import 'css-assets/effects'
@import 'css-assets/icons'


use('assets/nesting-tree-traversal.js')

.block
  &__element
    &--element-modifier
      &:hover
        {rewind-selector(2)}
          hl green
    /* some element's styles */
  &--modifier
    {root-selector()}
      hl orange
    .a
      & + {last-selector()}
        hl green
    /* some modifier's styles */

//! --------------------
.block
  &__element
    & + {$$()}
      margin-left 20px
// //! --------------------
// .block
//   &:hover
//     .aaa
//       {-$(2)}__element2
//         hl red
// //! --------------------
// el = '.block'
// {el}
//   &:hover
//     .aaa
//       {el}__element2
//         hl red
// //! --------------------
// .block
//   &:hover
//     {$$()}__element
//       hl red
//     &:active
//       {$(2)}__element2
//         hl green


        